.wrapper {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito', sans-serif;

}
body{
  overflow: hidden;

}


.sidebar {
  width: 450px;
  background: #f4f7f8;
  max-height: 100vh; /* Adjust based on your needs */
  overflow-y: auto; /* This enables vertical scrolling when necessary */
}


.sidebar form {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  max-width: 320px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;


 
}
#celestial-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
 
}

.poster-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 450px;
  padding-bottom: calc(591.44 / 1127.34 * 100%);
  position: relative;
  border: 20px solid rgb(5, 4, 4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.poster-background {
  position: absolute;  
  top:0;
  width: 100%;
  height: 100%;
  background-color: black;
  border: 2px solid #ffff;
}

#celestial-map {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  top: 2%;
  
  
}

#celestial-map canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#celestial-map canvas:active {
  cursor: move;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#celestial-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;

}

#celestial-info p {
  margin: 5px 0;
}

input {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
#name{
  font-size: 14px;
  padding: 4px;
}
#location-coords {
  font-size: 8px;
}


/* CSS */
button {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 20px;
  margin-bottom: 30px;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

button:disabled {
  cursor: not-allowed;
  opacity: .6;
}

button:disabled:active {
  pointer-events: none;
}

button:disabled:hover {
  box-shadow: none;
}


.toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  order: 2;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #36A9AE;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.option {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

h4{
  color: rgb(117, 115, 115)
}

.toggle-label {
  color: grey;
}

.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-picker label {
  margin-right: 10px;
}

.color-picker input[type="color"] {
  width: 50px;
  height: 30px;
  padding: 2px;
  cursor: pointer;
}